
.bottom_section {
    background-color: #EBEBEB;
    display: flex;
    margin: 0 3vmax;
    border-radius: 1.5vmax;
}

.top_section {
    display: flex;
    padding: 0 3vmax;
    margin-top: 3vmax;
}

.top_left_section {
    width: 50vw;
    box-sizing: border-box;
    padding: 2vmax 3vmax 2vmax auto ;
}

.top_left_section>p:first-child ,.top_right_section>p{
    font-family: 'Montserrat';
    font-style: normal;
    margin-bottom: .7vmax;
    font-weight: 500;
    font-size: 2.2vmax;
    line-height: 2.2vmax;
}

.top_left_section>p:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.7vmax;
    margin-bottom: 1.7vmax;
    line-height: 5vmax;
}

.top_left_section>hr {
    padding: 1px;
    background-color: #000000;
    width: 90%;
}

.top_right_section{
     width: 50vw;
   padding: 17vmax 0  1vmax 4vmax;

}
.bottom_left_section{
    width: 50vw;
    padding: 2.5vmax;
}
.bottom_left_section>p:first-child{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3vmax;
    line-height: 2.7vmax;
    width: 60%;
    color: #000000;
}
.bottom_left_section>p:nth-child(2)
{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 2.5vmax;
line-height: 2.6vmax;
margin: 1.5vmax 0;
width: 74%;
}
.bottom_left_section>a{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 2.5vmax;
line-height: 2.5vmax;
text-decoration: none;
color: black;

}

.bottom_right_section>img{
    margin:5vmax 4vmax 4vmax 4vmax  ;
    width: 40vw;
    
}

@media screen and (max-width:400px) {
    .top_section{
       padding: 0 0 0 3px;
        flex-direction: column;
    }
    .top_left_section>p:first-child{
        margin-top: 15px;
        font-size: medium;
    }
    .top_left_section{
       width: 98vw;
    }
    .top_right_section {
      width: 95vw;
      padding: 2vmax 1vmax 2vmax 1vmax;
    }
    .top_right_section>p{
      font-size: 2.7vmax;
    }
    .bottom_section {
       margin: 0;
       flex-direction: column;
    }
   .bottom_right_section>img {
    margin: 0 15px;
    width: 90vw;
   }


   .bottom_left_section>p:nth-child(2) {
     margin: 1.5vmax 10px;
     width: 96vw;
    }
    .bottom_left_section {
        width: 100vw;
        padding: 2.5vmax 0 ;
    }
   .bottom_left_section>p:first-child {
         font-size: 3.5vmax;
         margin: 1.5vmax 5px;
         width: 95vw;
    }
    .bottom_left_section>a {
         text-decoration:underline;
        margin: auto 10px;
           
        }
}
