*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
  }

/* Montserrat font link*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
